<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		<connectionStrings>
			<add name="cadena_conexion" connectionStrings="Data Source=DESKTOP-LB9TM5K\SQLEXPRESS;Initial Catalog=DBSISTEMA_VENTAS;Integrated Security=True;Trust Server Certificate=True" providerName="Sysytem.Data.SqlClient"/>
		</connectionStrings>

    </startup>
</configuration>